.container {
    margin: 0 auto;
    width: 50%;
    background-color: lightgreen;
}
.calendar{
    margin: 0 auto;
    widht: 100%;
    background-color: lightgrey;
}
.calendar-head > td{
    width: 30%;
    text-align: center;
}